<!DOCTYPE html>
<html lang="fr">

<head>
  <title>Titre</title>

  <meta charset="utf-8" />

  <meta name="description" content="" />
  <meta name="keywords" content="" />
  <meta name="author" content="Léo Sumi" />

  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link rel="stylesheet" href="styles/style.css" />
</head>

<body>
  <div id="bloc_page">
    <header>
    </header>

    <nav>
      <ul>
        <li><a href="#">Text</a></li>
      </ul>
    </nav>

    <section>
    </section>

    <footer>
    </footer>
  </div>
</body>

</html>
